In [ ]:
print("hello")

hello

In [ ]:
print('hello')

hello

In [ ]:
a=4
b=5
s=a+b
print(s)

9

In [ ]:
# write a program to add 2 numbers
a=4
b=5
s=a+b
s

9

In [ ]:
a=int(input('enter a:'))
b=int(input('enter b: '))
s=a+b
print('sum=',s)

enter a:4
enter b: 4
sum= 8

Write a program to input a number if the number is greater than 10,display appropriate message.

In [ ]:
num=int(input("Enter a number:"))
if(num>10):
  print("Is greater than 10")
else:
  print("Number is less than 10")

Enter a number:44
Is greater than 10

Write a program to input the age of a person check whether the person is eligible to vote and display appropriate message

In [ ]:
age=int(input("Enter your Age:"))
if(age>=18):
  print("You can vote")
else:
  print("You cannot vote")

Enter your Age:2
You cannot vote

Write a program to input two numbers and find the largest of 2 numbers.

In [ ]:
n1=int(input("Enter the first number:"))
n2=int(input("Enter the second number:"))
if(n1>n2):
  print(n1,"is greater than",n2)
else:
  print(n2,"is greater than",n1)

Enter the first number:7
Enter the second number:8
8 is greater than 7

Write a program to input a number,check whether the number is odd or even.

In [ ]:
num=int(input("Enter a number:"))
if(num%2==0):
   print(num,"is even number")
else:
  print(num,"is odd number")

Enter a number:5
5 is odd number

Write a program to input 2 numbers,find their sum and display appropriate message if the sum is greater than 10.

In [ ]:
n1=int(input("Enter first number:"))
n2=int(input("Enter second number:"))
sum=n1+n2
print("Sum of numbers is",sum)
if(sum>10):
  print(sum,"is greater than 10")

Enter first number:3
Enter second number:7
Sum of numbers is 10

Find the largest of 3 numbers

In [ ]:
n1=int(input("Enter First number:"))
n2=int(input("Enter Second number:"))
n3=int(input("Enter Third number:"))
if(n1>n2 and n1>n3):
  print(n1,"is the greatest")
elif(n2>n1 and n2>n3):
  print(n2,"is the greatest")
else:
  print(n3,"is the greatest")

Enter First number:13
Enter Second number:12
Enter Third number:11
13 is the greatest

Write a program to display the first n natural numbers.

In [ ]:
n=int(input("Enter the limit number:"))
print("Natural numbers from 1 to n",n)
for i in range(1,n+1):
  print(i)

Enter the limit number:12
Natural numbers from 1 to n 12
1
2
3
4
5
6
7
8
9
10
11
12

Write a program to display the first n even numbers.

In [ ]:
n=int(input("Enter the limit number:"))
print("First",n,"Even natural numbers")
for i in range(2,n):
  if(i%2==0):
     print(i)

Enter the limit number:10
First 10 Even natural numbers
2
4
6
8

Write a program to display even numbers upto n.

Display future leap years from current year to a final year entered by user

In [ ]:
#CO1(2)
n=int(input("Enter a year:"))
if(n%4==0) and (n%100!=0) or (n%400==0):
  print(n,"is a leap year")
else:
    print(n,"is not a leap year")

Enter a year:2016
2016 is a leap year

Accept the radius from user and find area of circle.

In [ ]:
#CO1(10)
r=int(input("Enter the radius:"))
radius=(3.14*r*r)
print(radius)

Enter the radius:4
50.24

Find biggest of 3 numbers entered

In [ ]:
#CO1(11)
n1=int(input("Enter the first number:"))
n2=int(input("Enter the Second number:"))
n3=int(input("Enter the Third number:"))
if(n1>n2 and n1>n3):
  print(n1,"is the Biggest")
elif(n2>n1 and n2>n3):
  print(n2,"is the Biggest")
else:
  print(n3,"is the Biggest")

Enter the first number:3
Enter the Second number:4
Enter the Third number:2
4 is the Biggest

Program to find the factorial of a number

In [ ]:
#CO2(1)
n=int(input("Enter a number:"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print("Factorial of",n,"is",fact)

Enter a number:5
Factorial of 5 is 120

Generate Fibonacci series of N terms

In [ ]:
#CO2(2)
a=0
b=1
n=int(input("Enter the Limit:"))
print(a)
print(b)
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

Enter the Limit:10
0
1
1
2
3
5
8
13
21
34

CO 2: 5 Display the given pyramid with step number accepted from user.
Eg: N=4
1
2 4
3 6 9
4 8 12 16

In [ ]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
 for j in range(1,i+1):
  print(j*i,end=" ")
 print()

Enter number of rows: 5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
#leap year
start = int(input("Enter start year: "))
end = int(input("Enter end year: "))
if start < end:
  print ("the list of leap year " + str(start) + " and " + str(end)+ ":")
  while start < end:
    if start % 4 == 0and start % 100 != 0:
        print(start)
    if start % 100 == 0and start % 400 == 0:
        print(start)
    start += 1

Enter start year: 2010
Enter end year: 2020
the list of leap year 2010 and 2020:
2012
2016

In [ ]:
#co1 2
l1=[1,-1,-2,2,-3,3,4,5]
l2=[i for i in l1 if i>0]
print("Positive integers:",l2)

Positive integers: [1, 2, 3, 4, 5]

In [ ]:
#co1 2
n=int(input("Enter limit:"))
l=[i*i for i in range (n)]
l

Enter limit:5

[0, 1, 4, 9, 16]

In [ ]:
#co1 2
a=input("Enter a word:")
v=[i for i in a if i in'aeiouAEIOU']
v

Enter a word:benson

['e', 'o']

In [ ]:
#co1 3
str=input("Enter a line: ")
l=[]
l=str.split()
wc=[l.count(i) for i in l]
print(dict(zip(l,wc)))

Enter a line: Raju had a car
{'Raju': 1, 'had': 1, 'a': 1, 'car': 1}

In [ ]:
#co1 5
list=[]
n=int(input("enter the limit:"))
print("enter the numbers:")
for i in range (0, n):
  nu=int(input())
  if nu>100:
    list.append('over')
  else:
      list.append(nu)
print(list)

enter the limit:5
enter the numbers:
34
900
300
400
23
[34, 'over', 'over', 'over', 23]