In [ ]:
name=['sam','aleena','basil']
for i in name:
  print("a","occurs in",i,i.count('a'),"times")

a occurs in sam 1 times
a occurs in aleena 2 times
a occurs in basil 1 times

In [ ]:
name=input("Enter a name : ")
name[-1]+name[1:-1]+name[0]

Enter a name : bensonsanthosh

'hensonsanthosb'

In [ ]:
r=float(input("Enter the radius : "))
print("Area : ",3.14*r*r)

Enter the radius : 5
Area :  78.5

In [ ]:
n=int(input("Enter a number : "))
print("Result :",n+n*11+n*111)

Enter a number : 5
Result : 615

In [ ]:
s1=input("Enter string 1 : ")
s2=input("Enter string 2 : ")
s3=s2[0]+s1[1:]+" "+s1[0]+s2[1:]
print("Swapped string :",s3)

Enter string 1 : tom
Enter string 2 : jerry
Swapped string : jom terry

In [ ]:
d = {'Bobby': 9, 'Anna': 2,'Gean': 3}
print("Ascending order : ",dict(sorted(d.items())))
print("Descending order : ",dict(sorted(d.items(), reverse=True)))

Ascending order :  {'Anna': 2, 'Bobby': 9, 'Gean': 3}
Descending order :  {'Gean': 3, 'Bobby': 9, 'Anna': 2}

In [ ]:
d1 = {'Jose': 1,'Anu': 2, 'Ruben': 3}
d2 = {'Aswin': 2,'Paul': 4, 'Nakul': 5}
print("Merged dictionaries :",d1|d2)

Merged dictionaries : {'Jose': 1, 'Anu': 2, 'Ruben': 3, 'Aswin': 2, 'Paul': 4, 'Nakul': 5}

In [ ]:
import math
x=int(input("Enter the first number : "))
y=int(input("Enter the second number : "))
print("GCD : ",math.gcd(x,y))

Enter the first number : 50
Enter the second number : 354
GCD :  2

In [ ]:
def fact(x):
  if x==1:
    return 1
  else:
    return x*fact(x-1)
x=int(input("Enter the number : "))
print("Factorial : ",fact(x))

Enter the number : 6
Factorial :  720

In [ ]:
l=[]
n=int(input("Enter the size of the list : "))
print("Enter elements : ")
for i in 3
range(n):
  i=int(input())
  l.append(i)

print("Sum : ",sum(l))

Enter the size of the list : 5
Enter elements :
1
2
3
4
5
Sum :  15

In [ ]:
input_string = input("Enter a string: ")
char_count = {}
for char in input_string:
    char_count[char] = char_count.get(char, 0) + 1
for char, count in char_count.items():
    print(f"'{char}': {count}")

Enter a string: benson
'b': 1
'e': 1
'n': 2
's': 1
'o': 1

In [ ]:
n = int(input("Enter the size of the list: "))
a = [input("Enter word: ") for _ in range(n)]

temp = max(a, key=len)

print("Word with max length is", temp, "Its length is", len(temp))

Enter the size of the list: 3
Enter word: benson
Enter word: basil
Enter word: blesson
Word with max length is blesson Its length is 7

In [ ]:
def facts(x):
    return [i for i in range(1, x + 1) if x % i == 0]

n = int(input("Enter a number: "))
factors = facts(n)

print(f"Factors of {n} are: {factors}")

Enter a number: 45
Factors of 45 are: [1, 3, 5, 9, 15, 45]

In [ ]:

area1=lambda a: a*a
area2=lambda l,b: l*b
area3=lambda b,h: 0.5*(b*h)

s=int(input("Enter the side of square : "))
print("Area of square : ",area1(s))

l=int(input("Enter the length of rectangle : "))
b=int(input("Enter the breadth of rectangle : "))
print("Area of rectangle : ",area2(l,b))

b=int(input("Enter the base of triangle : "))
h=int(input("Enter the height of triangle : "))
print("Area of triangle : ",area3(b,h))

Enter the side of square : 4
Area of square :  16
Enter the length of rectangle : 3
Enter the breadth of rectangle : 4
Area of rectangle :  12
Enter the base of triangle : 6
Enter the height of triangle : 3
Area of triangle :  9.0