Generate positive list of numbers from a given list of integers

In [ ]:
l1=[-2,1,-4,0,5]
l2=[i for i in l1 if i>0]
print(l2)

[1, 5]

Square of N numbers

In [ ]:
n=int(input("Enter any number:"))
sq=[i**2 for i in range(n+1)]
print(sq)

Enter any number:5
[0, 1, 4, 9, 16, 25]

Form a list of vowels selected from a given word

In [ ]:
word=input("Enter any word:")
vow=[i for i in word if i in "aeiouAEIOU"]
print(vow)

Enter any word:benson
['e', 'o']

List ordinal value of each element of a word (Hint: use ord() to get ordinal values)

In [ ]:
word=input("Enter any word:")
val=[ord(i) for i in word]
print(val)

Enter any word:hello
[104, 101, 108, 108, 111]

Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.

In [ ]:
lim=int(input("Enter limit:"))
l1=[]
print("Enter",lim,"values")
for a in range(lim):
  inp=int(input("Enter value:"))
  if(inp>100):
    l1.append("over")
  else:
      l1.append(inp)
print(l1)

Enter limit:5
Enter 5 values
Enter value:1
Enter value:2
Enter value:3
Enter value:4
Enter value:5
[1, 2, 3, 4, 5]

Store a list of first names. Count the occurrences of ‘a’ within the list

In [ ]:
names=["John","Ben","Dona","Faizal","Deny"]
for a in names:
  print("The name "+a+" has the letter 'a' ",a.count('a'),"times")

The name John has the letter 'a'  0 times
The name Ben has the letter 'a'  0 times
The name Dona has the letter 'a'  1 times
The name Faizal has the letter 'a'  2 times
The name Deny has the letter 'a'  0 times

(CO2:9)Construct following pattern using nested loop

In [ ]:
n=5;
for i in range(n):
     for j in range(i):
          print('*',end=" ")
     print("")
for i in range(n,0,-1):
      for j in range(i):
           print('*',end=" ")
      print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

(CO 2:10)Generate all factors of a number.

In [ ]:
x=int(input("Enter the number:"))
print("The factors of",x,"are:")
for i in range(1, x + 1):
  if x % i == 0:
    print(i)

Enter the number:320
The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320

(CO 2:6)Count the number of characters (character frequency) in a string.

In [ ]:
name=str(input("Enter a String:"))
for i in name:
  frequency=name.count(i)
  print(str(i)+":"+str(frequency),end=",")

Enter a String:outstanding
o:1,u:1,t:2,s:1,t:2,a:1,n:2,d:1,i:1,n:2,g:1,

(CO 1:19)Find gcd of 2 numbers.

In [ ]:
num1=int(input("Enter First Number:"))
num2=int(input("Enter Second Number:"))
for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

Enter First Number:56
Enter Second Number:45
GCD of 56 and 45 is 1

CO1:20,From a list of integers, create a list removing even numbers

In [ ]:
l1=[]
n=int(input("Enter the limit:"))
for i in range(n):
  l1.append(int(input("Enter a number:")))
for i in l1:
    if i % 2 == 0:
        l1.remove(i)
        print("List after removing EVEN numbers:")
print(l1)

Enter the limit:5
Enter a number:1
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
List after removing EVEN numbers:
List after removing EVEN numbers:
[1, 3, 5]

CO 1:14,Accept an integer n and compute n+nn+nnn.

In [ ]:
a=int(input("Enter the number:"))
n1=int("%s" % a )
n2=int("%s%s" % (a,a))
n3=int("%s%s%s" % (a,a,a))
print (n1+n2+n3)

Enter the number:3
369

CO1:7,Enter 2 lists of integers. Check (a) Whether list are of same length (b) whether list sums to same value (c) whether any value occur in both

In [ ]:
sum1=0
sum2=0
list1=[1,2,3,4,5,6]
list2=[1,4,3,6,7,8,9]
if (len(list1)==len(list2)):
  print("list are same length")
else:
  print("list are not same length")
for i in list1 :
  sum1=sum1 + i
for i in list2:
  sum2=sum1 + i
if(sum1==sum2):
  print("sum is same")
else:
  print("sum not same")

list are not same length
sum not same

In [ ]:
name="benson santhosh"
name[-1]+name[1:-1]+name[0]

'henson santhosb'

In [ ]:
n=int(input("Enter n:"))
for i in range(1,n+1):
  print("*"*i)
for i in range(n-1,0,-1):
  print("*"*i)

Enter n:6
*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
print("*"*4)

****

CO 2:7 Add ‘ing’ at the end of a given string. If it already ends with ‘ing’, then add ‘ly’

In [ ]:
def add_ing_ly(s):
  if s.endswith('ing'):
    return s+'ly'
  else:
    return s+ 'ing'
string=input("Enter the string:")
result_string=add_ing_ly(string)
print("result:",result_string)

Enter the string:play
result: playing

CO2:11 Write lambda functions to find area of square, rectangle and triangle.

In [ ]:
#area of square
import math
p=int(input("Enter the length:"))
lamb1 = lambda p: p*p
print("Area of Square",lamb1(p))
#area of rectangle
q=int(input("Enter the length:"))
r=int(input("Enter the breadth:"))
lamb2=lambda q,r:q*r
print("Area of rectangle",lamb2(q,r))
#area of triangle
a=int(input("Enter the breadth:"))
b=int(input("Enter the height:"))
lamb3=lambda a,b:0.5*a*b
print("Area of triangle:",lamb3(a,b))

Enter the length:5
Area of Square 25
Enter the length:5
Enter the breadth:5
Area of rectangle 25
Enter the breadth:5
Enter the height:5
Area of triangle 12.5

CO 2:3 Find the sum of all items in a list

In [ ]:
l=[]
n=int(input("Enter the size of the list : "))
print("Enter elements : ")
for i in range(n):
  i=int(input())
  l.append(i)

print("Sum : ",sum(l))

Enter the size of the list : 5
Enter elements :
1
2
3
4
5
Sum :  15

CO 2:4 Generate a list of four digit numbers in a given range with all their digits even and the number is a perfect square.

In [ ]:
res=[]
for i in range(1000,10000):
    if all(int(x)%2==0 for x in str(i)):
        if int(i**0.5)**2==i:
            res.append(i)
print("List of numbers : ",res)

List of numbers :  [4624, 6084, 6400, 8464]

CO 2:8 Accept a list of words and return length of longest word.

In [ ]:
a=[]
n=int(input("Enter the size of the list : "))
print("Enter list : ")
for i in range(n):
  x=input()
  a.append(x)

max=len(a[0])
temp=a[0]
for i in a:
  if len(i)>max:
    max=len(i)
    temp=i
print("Word with max length is ",temp,"It's length is ",max)

Enter the size of the list : 5
Enter list :
yadu
binu
blesson
beema
basil
Word with max length is  blesson It's length is  7

CO 1:4 Count the occurrences of each word in a line of text.

In [ ]:
str=input("Enter a line : ")
l=[]
l=str.split();
wc=[l.count(i) for i in l]
print(dict(zip(l,wc)))

Enter a line : benson is the john wicl benson
{'benson': 2, 'is': 1, 'the': 1, 'john': 1, 'wicl': 1}

CO 1:8  Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.

In [ ]:
str1=input("Enter a word : ")
f_c=str1[0]
str1=str1.replace(f_c,'$')
str1=f_c+str1[1:]
print(str1)

Enter a word : bensonb
benson$

CO 1: 9 Create a string from given string where first and last characters exchanged.  [eg: python -
> nythop]

In [ ]:
name=input("Enter a name : ")
name[-1]+name[1:-1]+name[0]

Enter a name : benson

'nensob'

CO 1:12 Accept a file name from user and print extension of that.

In [ ]:
f_name=input("Enter a filename : ")
f_ext=f_name.split(".")
print("Extension : ",f_ext[-1])

Enter a filename : benson.html
Extension :  html

CO1 :13 Create a list of colors from comma-separated color names entered by user. Display first and last colors.

In [ ]:
n=int(input("Enter the size of the list:"))
print("Enter the colors:")
color_list=[input() for i in range(n)]
print(color_list)
print("First color : ",color_list[0]," Last color : ",color_list[-1])

Enter the size of the list:5
Enter the colors:
red
violet
blue
green
yellow
['red', 'violet', 'blue', 'green', 'yellow']
First color :  red  Last color :  yellow